*{
    font-family: 'Baloo Bhai 2', cursive;
    /* font-size: 17px; */
}
.nav {
    background-color: #52a;
    height: 70px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-link
{
    font-size: 25px;
}
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.leftdiv {
    width: 50%;
    float: left;
    height: 100vh;
}
.rightdiv {
    width: 50%;
    float: right;
    height: 100vh;
}
.cards {
    margin: 5%;
    height: 40%;
    /* background-color: red; */
}

.card-body {
    text-align: center;
    font-size: 35px !important;
    
}